#projects {
  background-color: $dark-grey;
  color: $off-white;
  margin-top: -15rem;
  padding-top: 15rem;

  @include respond(tab-land) {
    margin-top: 0;
    padding-top: 5rem;
  }

  .project-wrapper {
    margin-bottom: 15rem;

    @include respond(phone) {
      margin-bottom: 0rem;
    }

    .row {
      margin-bottom: 0rem;

      @include respond(phone) {
        margin-bottom: 0rem;
      }
    }
    .col {
      text-align: left;
    }

    &__text {
      text-align: left;

      @include respond(phone) {
        margin-bottom: 2.5rem !important;
      }
      @include respond(tab-land) {
        margin-bottom: 4.8rem;
      }

      &-title {
        font-weight: bold;
        margin-bottom: 1.8rem;
        font-size: $mid-font-size;

        @include respond(phone) {
          font-size: 2rem;
        }
      }

      & p > a {
        color: $secondary-color;
      }
    }

    &__image {
      width: 90%;
      margin: 0 auto;

      @include respond(tab-land) {
        width: 100%;
        margin: 0;
      }

      & .thumbnail {
        border: none;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        transition: all 0.2s ease-out;
        box-shadow: 0 6px 10px rgba(0, 0, 0, 0.08), 0 0 6px rgba(0, 0, 0, 0.05);
        transition: 0.5s transform cubic-bezier(0.155, 1.105, 0.295, 1.12), 0.5s box-shadow,
          0.5s -webkit-transform cubic-bezier(0.155, 1.105, 0.295, 1.12);

        @include respond(phone) {
          border: 1px solid #d2d2d2;
          box-shadow: none;
          margin-bottom: 3.2rem;
        }
      }
    }
  }
}
.cards {
  background-color: $off-white;
  color: $light-black;

}
.cardheader {
  color: $mute-pink;
  font-weight: 700;
  font-size: 0.8em;
  text-align: right;

  
}
.rightsidetext {
  text-align: left;
  font-size: 1.4em;
}
.butttest{
  background-color: $light-black;
}
.projtitle{
  font-size: 2em;
  color: $mute-pink;
  text-align: center;
}
.smallbutt {
  font-size: 1em;
  display: block;
  position: relative;
  bottom: 0;
  left: 0;
}
.gap{
  margin-top: 50px;
}
.border {
  border-left: 6px $off-white;
  height: 100%;
  @include respond(phone) {
    border-left: 6px $dark-grey;
  }
  @include respond(tab-land) {
    border-left: 6px $dark-grey;
  }
}
.rev{
  display: block;
  width: 452px;
  height: 172px;
}
.heat{
  width: 308px;
  height: 172px;
  display: inline-block;
}
.micro{
  width: 183.7px;
  height: 172px;
  display: inline-block;
}
.gap10{
  margin-top: 2em;
}