// COLORS
// $primary-color: #02aab0;
// $secondary-color: #00cdac;
$primary-color: #e69a99;
$secondary-color: #c87e74;
// $primary-color: #7f449d;
// $secondary-color: #793fc1;



$white-color: #fff;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

$light-pink: #e69a99;
$mute-pink: #c87e74;
$off-white: #eeebe2;
$light-grey: #c0beb7;
$light-grey2: #a9a7a0;
$light-grey3: #666461;
$light-black: #080909;
$mute-green: #7fa480;
$lavendar: #aca4c4;




// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
